/* Mega Menu Responsivo */
.megamenu{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display: inline-block;
	position:relative;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: none;
	height:50px;
	z-index: 200;	
}
.megamenu li{
	float: left;
	display:inline;
}
.megamenu > li > a{
	float: left;
	padding: 13px;
    color: #FFFFFF;
	font-weight: 400;
	text-decoration: none;
}
.megamenu > li:hover > a,
.megamenu > li.active > a{
	background: #a83b8d;
}

/* ITEM ALIGNMENT
-----------------------------*/
.megamenu > li.right{
	float: right;
}

/* DROPDOWN CONFIGURATION
-----------------------------*/
.megamenu .dropdown, 
.megamenu .dropdown li .dropdown {
	list-style: none;
    margin: 0;
    padding: 0; 
	display: none;
    position: absolute;
    z-index: 999;
	width:160px;
	background: #FFFFFF;
	border-bottom: solid 1px #dbdbdb;
	border-left: solid 1px #dbdbdb;
	border-right: solid 1px #dbdbdb;
}
.megamenu .dropdown {
    top: 51px;
}
.megamenu .dropdown li .dropdown {
    left: 160px;
	top: inherit;
	margin-top: -1px;
	border: solid 1px #dbdbdb;
}
.megamenu .dropdown li {
	clear:both;
	width:100%;
}
.megamenu .dropdown li:last-child {
	border-bottom: none;
}
.megamenu .dropdown li a {
	float:left;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	display:block;
	border:0 none;
	font-size: 14px;
	color: #444;
	background:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.megamenu .dropdown li:hover > a {
	background: #a83b8d;
}

/* MEGAPANEL CONFIGURATION
-----------------------------*/
.megamenu > li > .megapanel{
	position: absolute;
	display: none;
	top: 51px;
	left: 0px;
	z-index: 999;
	padding: 15px;
	border: solid 1px #cccccc;
	background: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.megamenu  .megapanel ul{
	margin: 0;
	padding: 0;
}
.megamenu  .megapanel img{
	width: 100%;
	border: solid 1px #dedede;
	cursor: pointer;
}
.megamenu  .megapanel img:hover{
	border: solid 1px #777;
}

/* GRID SYSTEM
-----------------------------*/
.megapanel .row{
	max-width: 100%;
	margin-top: 15px;
}
.megapanel .row:first-child {
	margin-top: 0;
}
.megapanel .row:before,
.megapanel .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.megapanel .row:after {
	clear: both;
}
.megapanel .row .col1,
.megapanel .row .col2,
.megapanel .row .col3,
.megapanel .row .col4,
.megapanel .row .col5{
	display: block;
    min-height: 20px;
	float: left;
	margin-left: 1%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.megapanel .row [class*="col"]:first-child {
	margin-left: 0;
}
.megapanel .row .col1{
	float:left;
	width: 10%;
}
.megapanel .row .col2{
	float:left;
	width: 30%;
}
.megapanel .row .col3{
	float:left;
	width: 50%;
}
.megapanel .row .col4{
	float:left;
	width: 60%;
}
.megapanel .row .col5{
	float:left;
	width: 90%;
}

/* COLLAPSIBLE MENU
-------------------------*/
.megamenu > li.showhide{
	display: none;
	width: 100%;
	height: 50px;
	cursor: pointer;
	color: #555;
	border-bottom: solid 1px #FFFFFF;
}
.megamenu > li.showhide span.title{
	margin: 12px 0 0 15px;
	font-size:20px;
	float: left;
}
.megamenu > li.showhide span.icon1:after{
	position: absolute;
	content: "";
	right: 15px;
	top: 15px;
	height: 3px;
	width: 25px;
	font-size: 50px;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	z-index: 999;
}
.megamenu > li.showhide span.icon2:after{
	position: absolute;
	content: "";
	right: 15px;
	top: 27px;
	height: 3px;
	width: 25px;
	font-size: 50px;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	z-index: 999;
}

/* STYLES
-----------------------------*/

/* purple */
.purple, .purple > li.showhide{background: #b9519f;border-bottom: 1px solid #FFFFFF;}
.purple li > a, .purple > li.showhide span{ color: #FFFFFF; }
.purple > li:hover > a, .purple > li.active > a, .purple .dropdown li:hover > a{ color: #FFFFFF; background: #a83b8d;}


/* RESPONSIVE LAYOUT
-----------------------------*/
@media (max-width: 1024px) {
	.megamenu > li{
		display: block;
		width: 100%;
		border-bottom: solid 1px #FFFFFF;
		box-sizing:border-box;
		-moz-box-sizing:border-box; 
		-webkit-box-sizing:border-box;
	}
	.megamenu > li:hover,
	.megamenu > li.active{
		border-top: none;
	}
	.megamenu > li > a{
		background: #b9519f;
		padding: 15px 15px;
	}
	.megamenu > li:hover > a,
	.megamenu > li.active > a{
		padding: 15px 15px;
	}
	.megamenu a{
		width: 100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box; 
		-webkit-box-sizing:border-box; 
	}
	.megamenu .dropdown, 
	.megamenu .dropdown li .dropdown{
		width: 100%;
		display: none;
		left: 0;
		border-left: none;
		position: static;
		border: none;
		box-sizing:border-box;
		-moz-box-sizing:border-box; 
		-webkit-box-sizing:border-box; 
	}
	.megamenu .dropdown li {
		background: #FFFFFF !important;
		border: none;
	}
	.megamenu .dropdown > li > a{
		padding-left: 40px !important;
	}
	.megamenu > li > .megapanel{
		position: static;
		margin-top: 50px;
	}
	.megapanel .row [class*="col"]{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.megapanel .row:first-child  [class*="col"]:first-child {
		margin-top: 0;
	}
	.megapanel .row{
		margin-top: 0;
	}
	.black { background: #b9519f; }
	.megamenu > li > ul.dropdown > li > a{ padding-left: 20px !important; }
	.megamenu > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 35px !important; }
	.megamenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 50px !important; }
}

